/** @format */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30;
  list-style: none;
}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #383838;
  margin: 10px;
  border-radius: 20px;
}


.item__image{
  border-radius: 24px;
  padding: 10px;
}


@media (max-width: 767px) {
 .grid-container{
  grid-template-columns: 1fr;
 }
 .item{
  flex-direction: column;
 }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container{
    grid-template-columns: 1fr 1fr;
   }
   .item{
    flex-direction: column;
   }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .grid-container{
    grid-template-columns: repeat(3,1fr);
   }
   .item{
    flex-direction: column;
   }
}
@media (min-width: 1366px) and (max-width: 1365px) {
  .grid-container{
    grid-template-columns: repeat(5,1fr);
   }
}

